:root{
    --white:rgb(255, 255, 255);
    --black:rgb(43, 41, 41);
}

body{
    background-color: rgb(235,229,229);
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100vh;
    width: 100vw;
    display:flex;
}

.card-container{
    margin: auto;
    height: 300px;
    width: 300px;
    background: linear-gradient(rgb(4,124,20),rgb(16,245,46));
   border-radius: 10px;
   box-shadow: 3px 3px 3px var(--white),
            inset 3px 3px 3px var(--black);
}

.mini-card{
    display: flex;
    height: 400px;
    width: 250px;
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 3px 3px 2px var(--white),
                2px 2px 6px var(--black);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.card{
   margin: auto;
   height: 300px;
   width: 255px;
   background-color: var(--white);
   box-shadow: 0px 3px 4px var(--white),
         inset 0px 3px 4px var(--black);
         margin-right: -4px;
}

.card h1{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: rgb(21,192,21);
    text-align: center;
    font-size: 1.5em;
}


.card h3{
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: rgb(21,192,21);
    text-align: center;
    font-size: 1.3em;
}

.icon{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 3em;
    color: rgb(21,192,21);
}

.card p{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}

.mini-card h1{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    color: green;
    text-align: center;
    font-size: 1.3em;
}